.c1{
    border: solid chartreuse;
    padding: 10px;
    background-color: pink;
}
 .c2{
        border: solid brown;
        padding: 10px;
        background-color: green;
}
    
.c22{
        border: solid black;
        padding: 10px;
        background-color: darkkhaki;
    }
    

